$breakpoint: 768px;

$breakpoints: (
  small-mobile: "(max-width: #{479px})",
  before-limbo: "(min-width: #{480px}) and (max-width: #{$breakpoint - 1px})",
  up-to-limbo: "(max-width: #{991px})",
  above-limbo: "(min-width: #{992px})",
  parlatube-limbo: "(min-width: #{768px}) and (max-width: #{1014px})",
  limbo: "(min-width: #{$breakpoint}) and (max-width: #{991px})",
  mobile: "(max-width: #{$breakpoint - 1px})",
  desktop: "(min-width: #{$breakpoint})",
  mobile-arrows: "(max-width: #{1200px})"
);

@mixin respond-to($breakpoint) {
  $mediaQuery: map-get($breakpoints, $breakpoint);
  @media #{$mediaQuery} {
    @content;
  }
}

@mixin show-for($breakpoint, $displayType: block) {
  display: none;
  @include respond-to($breakpoint) {
    display: $displayType;
  }
}

// remove chrome/safari input glow
textarea, input, button { outline: none; }

.container {
  width: 100%;
  max-width: 981px;

  position: relative;
  overflow: hidden;
  margin: auto;
}

// BUBBLES LOADER
.bubbles-container {
  width: 100%;
  height: 300px;
  text-align: center;
}
.bubbles span {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin: 150px auto;
  background: #5ec2a7;
  border-radius: 50%;
  animation: bubbly .9s infinite alternate;
}

/* Bubbles */
#bubble2 { animation-delay: .27s; }
#bubble3 { animation-delay: .54s; }

@-webkit-keyframes bubbly {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
    transform: translateY(-32px);
  }
}

@-moz-keyframes bubbly {
  0% {
    width: 15px;
    height: 15px;
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 0.1;
    transform: translateY(-32px);
  }
}